<ion-view hide-nav-bar="true">

  <ion-content scroll="false" padding="true" class="pre-screen">
	
		<div class="row">
			<div class="col"></div>
			<div class="col col-90">
				<img class="logo" src="img/design/logo.svg"></img>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col col-90">
				<form>
					<label class="item item-input" name="login-email">
						<input type="email" placeholder="E-Mail">
					</label>
					<div class="spacer" style="width: 100%; height: 10px;"></div>
					<label class="item item-input" name="login-password">
						<input type="password" placeholder="Password">
					</label>
				</form>
				<a href="#/app/log" class="button button-stable button-block">Login</a>
			</div>
			<div class="col"></div>
		</div>
	
    </ion-content>
</ion-view>